<div class="day">
    <pyoss-row *ngIf="day" class="header">
        <button (click)="previousDay()" [disabled]="!previousIsEnabled()" pyossCol [col]="4" pyossButton>Previous
        </button>
        <pyoss-datedisplay [model]="day.date" pyossCol [col]="4"></pyoss-datedisplay>
        <button (click)="nextDay()" pyossCol [col]="4" pyossButton>Next</button>
    </pyoss-row>
    <pyoss-row *ngFor="let slot of day?.slots">
        <pyoss-timeslot (onBook)="updateDay()" [model]="slot" pyossCol>
        </pyoss-timeslot>
    </pyoss-row>
</div>
