<div class="day">
    <pyoss-row class="header">
        <div pyossCol [col]="4"></div>
        <pyoss-row pyossCol="4" [col]="4">
            <pyoss-button pyossCol [col]="4">Previous</pyoss-button>
            <div pyossCol [col]="4">{{ title }}</div>
            <pyoss-button pyossCol [col]="4">Next</pyoss-button>
        </pyoss-row>
        <div pyossCol [col]="4"></div>
    </pyoss-row>
    <pyoss-row *ngFor="let slot of slotsInDay">
        <div pyossCol [col]="4"></div>
        <pyoss-timeslot [model]="slot" pyossCol [col]="4">
        </pyoss-timeslot>
        <div pyossCol [col]="4"></div>
    </pyoss-row>
</div>
