body {
    background: #424242;
}


button {
    height: 50px;
    width: 100%;

    text-align: center;
    line-height: 45px;

    border: none;
    border-radius: 0;

    color: #212529;
    background: #dddddd;
}

button:hover {
    background-color: #42A5F5;
    color: white;
    cursor: pointer;
}

button:disabled {
    color: #c3c3c3;
    background: #dddddd;
}

button:disabled:hover {
    cursor: auto;
}